grpc:
  port: 50051
  enable_reflection: true
  gateway_port: 8080

logging:
  level: "debug"
  format: "text"

telemetry:
  enabled: false
  service_name: "kin-core-svc"
  otlp_endpoint: "localhost:4317"

s3:
  use_path_style: true
